<footer>
<div class="module-small bg-dark">
    <div class="container">
        <div class="row">
            <div class="col-sm-3 col-md-4">
                <div class="widget">
                    <h5 class="widget-title font-alt">Basil Labs</h5>
                    <p>Not everything that can be counted counts and not everything that counts can be counted.</p>
                    <!-- <p>Phone: +1 234 567 89 10</p>Fax: +1 234 567 89 10 -->
                    <p>1440 G St NW, Washington DC, 20005</p>
                    <p>TechnoHub 1, Silicon Oasis, Dubai</p>
                </div>
            </div>
            <div class="col-sm-3 col-md-4 col-md-offset-2">
                <div class="widget">
                    <h5 class="widget-title font-alt">Contact</h5>
                    <p><a href="#">connect@basillabs.org</a></p>
                    <div class="footer-social-links">
                        <a href="https://medium.com/basil-labs">
                            <i class="fa fa-medium fafont"></i></a>
                        <a href="https://twitter.com/BasilLabsAI"><i class="fa fa-twitter fafont"></i></a>
                        <a href="https://www.linkedin.com/company/basil-labs/"><i class="fa fa-linkedin fafont"></i></a>
                        <a href="https://www.instagram.com/basil_labs/"><i class="fa fa-instagram fafont"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
<div class="scroll-up"><a href="#totop"><i class="fa fa-angle-double-up"></i></a></div>
</footer>