<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="icon" type="image/png" sizes="16x16" href="{{ "/assets/images/needed/favicon.png" | absolute_url }}">
<meta name="msapplication-TileColor" content="#ffffff">
<meta name="msapplication-TileImage" content="{{ "/assets/images/favicons/ms-icon-144x144.png" | absolute_url }}">
<meta name="theme-color" content="#ffffff">
<!--  
    Stylesheets
    =============================================
    
    -->
<!-- Default stylesheets-->
<link rel="stylesheet"  href="{{ "/assets/lib/bootstrap/dist/css/bootstrap.min.css" | absolute_url }}">
<!-- Template specific stylesheets-->
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto+Condensed:400,700">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Volkhov:400i">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800">
<link rel="stylesheet" href="{{ "/assets/lib/animate.css/animate.css" | absolute_url }}">
<link rel="stylesheet" href="{{ "/assets/lib/components-font-awesome/css/font-awesome.min.css" | absolute_url }}">
<link rel="stylesheet" href="{{ "/assets/lib/et-line-font/et-line-font.css" | absolute_url }}">
<link rel="stylesheet" href="{{ "/assets/lib/flexslider/flexslider.css" | absolute_url }}">
<link rel="stylesheet" href="{{ "/assets/lib/magnific-popup/dist/magnific-popup.css" | absolute_url }}">
<link rel="stylesheet" href="{{ "/assets/lib/simple-text-rotator/simpletextrotator.css" | absolute_url }}">
<!-- Main stylesheet and color file-->
<link rel="stylesheet" href="{{ "/assets/css/style.css" | absolute_url }}">
<link rel="stylesheet" id="color-scheme" href="{{ "/assets/css/colors/default.css" | absolute_url }}">