    <!--  
    JavaScripts
    =============================================
    -->
    <script src="{{ "/assets/lib/jquery/dist/jquery.js"| absolute_url }}"></script>
    <script src="{{ "/assets/lib/bootstrap/dist/js/bootstrap.min.js"| absolute_url }}"></script>
    <script src="{{ "/assets/lib/wow/dist/wow.js"| absolute_url }}"></script>
    <script src="{{ "/assets/lib/jquery.mb.ytplayer/dist/jquery.mb.YTPlayer.js"| absolute_url }}"></script>
    <script src="{{ "/assets/lib/isotope/dist/isotope.pkgd.js"| absolute_url }}"></script>
    <script src="{{ "/assets/lib/imagesloaded/imagesloaded.pkgd.js"| absolute_url }}"></script>
    <script src="{{ "/assets/lib/flexslider/jquery.flexslider.js"| absolute_url }}"></script>
    <script src="{{ "/assets/lib/smoothscroll.js"| absolute_url }}"></script>
    <script src="{{ "/assets/lib/magnific-popup/dist/jquery.magnific-popup.js"| absolute_url }}"></script>
    <script src="{{ "/assets/lib/simple-text-rotator/jquery.simple-text-rotator.min.js"| absolute_url }}"></script>
    <script src="{{ "/assets/js/plugins.js"| absolute_url }}"></script>
    <script src="{{ "/assets/js/main.js"| absolute_url }}"></script>
	<!-- Start of HubSpot Embed Code -->
	<script type="text/javascript" id="hs-script-loader" async defer src="//js.hs-scripts.com/6615365.js"></script>
	<!-- End of HubSpot Embed Code -->
